<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Issue Monitoring Dashboard</h4>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                <th>
                                  ID
                                </th>
                                <th>
                                  Issue Type
                                </th>
                                <th>
                                  Issue Description
                                </th>
                                <th>
                                  Location
                                </th>
                                <th>
                                  Severity
                                </th>
                              </thead>
                              <tbody>
                                <tr *ngFor="let log of logs">
                                  <td>
                                    {{log._id}}
                                  </td>
                                  <td>
                                    {{log.problemType}}
                                  </td>
                                  <td>
                                    {{log.description}}
                                  </td>
                                  <td>
                                    {{log.location}}
                                  </td>
                                  <td>
                                    {{log.severity}}
                                  </td>
                                </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
